<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Elden Ring Build Randomizer</h1>
    <div class="btn">
        <button class=""randomBtn>Randomize</button>
    </div>
    <table class="build">
        <tr>
            <td>Class</td>
            <td>Armor</td>
            <td>Weapon</td>
            <td>Ash of War</td>
            <td>Shield</td>
            <td>Spells</td>
            <td>Spirit Ash</td>
        </tr>
    </table>
</body>
</html>