<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Elden Ring Build Randomizer</h1>
    <div class="btn">
        <form method="POST", action="\randomize">
            <input type="submit" value="Randomize">
        </form>
    </div>
    <table class="build">
        <tr>
            <th>Class</th>
            <th>Helmet</th>
            <th>Chest</th>
            <th>Gauntlets</th>
            <th>Leg Armor</th>
            <th>Weapon</th>
            <th>Ash of War</th>
            <th>Shield</th>
            <!--<th>Spells</th><!-->
            <th>Spirit Ash</th>
        </tr>
        <tr>
            <td>{{ starting_class }}</td>
            <td>{{ helm }}</td>
            <td>{{ chest }}</td>
            <td>{{ gauntlets }}</td>
            <td>{{ legs }}</td>
            <td>{{ weapon }}</td>
            <td>{{ ash_of_war }}</td>
            <td>{{ shield }}</td>
            <td>{{ spirit_ash }}</td>
        </tr>
    </table>
</body>
</html>