table{
    table-layout: fixed;
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

td, th{
    white-space: nowrap;
}

table.build{
    border: 1px solid black;
}

table.build td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

table.build th{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

table.build td:last-child{
    border-right: none;
}

.btn{
    margin-bottom: 10px;
}

.imgs{
    width: 200px;
    height: 200px;
}