table{
    table-layout: fixed;
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

td, th{
    white-space: nowrap;
}

.btn{
    margin-bottom: 10px;
}

.imgs{
    width: 200px;
    height: 200px;
}

body{
    color: #dad2b0;
    background-color: #1a2325;
}

#header-title{
    font-family: Mantinia;
    src: url('./Mantinia\ Regular.otf') format('otf');
}