table{
    table-layout: fixed;
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

td, th{
    white-space: nowrap;
}

.btn{
    margin-bottom: 10px;
}

.imgs{
    width: 200px;
    height: 200px;
}